= render "UI/header"
.section#slide
  %br
  #myCarousel.carousel.slide{"data-ride" => "carousel"}
    / Indicators
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
    / Wrapper for slides
    .carousel-inner{:role => "listbox"}
      .item.active
        %img{:alt => "Chania", :height => "345", :src => "assets/slide/img-1.jpg", :width => "100%"}
        .carousel-caption
          %h3 Chania
          %p The atmosphere in Chania has a touch of Florence and Venice.
      .item
        %img{:alt => "Chania", :height => "345", :src => "assets/slide/img-2.jpg", :width => "100%"}
        .carousel-caption
          %h3 Chania
          %p The atmosphere in Chania has a touch of Florence and Venice.
      .item
        %img{:alt => "Flower", :height => "345", :src => "assets/slide/img-3.jpg", :width => "100%"}
        .carousel-caption
          %h3 Chania
          %p The atmosphere in Chania has a touch of Florence and Venice.
      .item
        %img{:alt => "Flower", :height => "345", :src => "assets/slide/img-4.jpg", :width => "100%"}
        .carousel-caption
          %h3 Chania
          %p The atmosphere in Chania has a touch of Florence and Venice.
    / Left and right controls
    %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
      %span.sr-only Next
%div{style: "width:  100%;"}
.section#main_product{style: "padding-top: 50px"}
  .container
    .row
      %h1.text-center{style: "font-size: 50px; margin-bottom: 40px;"} Những sản phẩm nổi bật
      - 4.times do |n|
        %a.product{href: "/show"}
          .col-md-3.col-sm-6.product-wrap
            .col-md-12.rating-show
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star-half-o
            .col-md-12.text-center{style: "padding: 20px"}
              %img.img-rounded{src: "assets/products/img-#{n + 1}.jpg", style: "width: 100%; height: 190px"}
            .col-md-12
              .price.text-center
                %span
                  %b $400
                %small{style: "text-decoration: line-through;"} $500
              .title.text-center
                %h3 Trà sen ướp tuyết
              .content
                %p{style: "text-align: justify"} Được mệnh danh là “Thiên cổ đệ nhất trà”, là loại trà tinh tế nhất của Việt Nam, các nước khác trên thế giới không có được. Nguyên liệu trà được dùng là những búp trà cổ thụ mọc trên núi cao, mỗi năm chỉ hái được 4 lần vào 4 mùa xuân, hạ, thu, đông.
            .col-md-12.btn-active
              %span.btn-btn-default.btn-rating
                %i.fa.fa-star
.jumbotron#introduce_product
  .container
    .row{style: "height: 110px; margin-bottom: 50px;"}
      .col-md-12
        %h1 TRÀ SEN TÂY HỒ
        %ul
          %li
            %a{href: "%"} Trà sen
          %li
            %a{href: "%"} Trà việt nam
          %li
            %a{href: "%"} Trà thư
          %li
            %a{href: "%"} Trà cụ khác
        %span.line-home{src: "assets/backline.png", style: "width: 100%; height: 17px; position: absolute;"}
    .row.suggest
      - 5.times do |n|
        %a.article{href: "#"}
          .col-md-4.col-sm-6{style: "margin-bottom: 25px"}
            %img{src: "assets/square/img-#{n+1}.jpg", style: "width: 100%;"}
            %a{href: "#"}
              %span.title Trà sen trong ký ức
= render "UI/footer"

= stylesheet_link_tag "home"
= javascript_include_tag "home"
